<h1><%= @list.name %></h1>
<div id = "update_list_form">
	<%= form_for @list, remote: true do |f| %>
		<%= f.label "New Name" %>
		<%= f.text_field :name %>
		<%= f.submit %>
		<%= button_tag "Cancel", type: :reset, class: 'cancel' %>
	<% end %>
</div>

<h2>Incomplete Tasks</h2>
<div id="incomplete_tasks">
	<%= render @incomplete_tasks %>
</div>

<h2>Complete Tasks</h2>
<div id="complete_tasks">
	<%= render	@complete_tasks %>
</div>

<%= link_to "Add a new task to this list", new_list_task_path(@list.id), id: "new_task_link", remote: true %>

<div id = "update_list"><%= link_to "Edit this list's name", edit_list_path(@list), remote: true %></div>

<p><%= link_to "Back to All Lists", lists_path %></p>